<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12 text-center mb-4 mt-2">
      <h1>Listado de Tareas</h1>
    </div>

    <div class="col-md-6 listado">
      
      <div class="col-md-12 mb-4 mt-4" *ngFor="let tarea of filteredTareas; trackBy: trackByFn">
        <div class="card-footer">
          <button mat-icon-button class="delete-button" (click)="deleteTarea(tarea.id)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <card-tarea [tarea]="tarea"></card-tarea>
        
      </div>

      <div *ngIf="filteredTareas.length === 0" class="col-md-12 text-center">
        <p>No existen tareas en el rango o con el título buscado</p>
      </div>
    </div>

    <div class="col-md-6 text-start">
      <div class="row text-center color">
        <div class="col-md-12 text-center">
          <mat-form-field class="col-md-12">
            <mat-label>Ingresa rango de fechas</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
    
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Rango de inicio inválido</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Rango de final inválido</mat-error>
          </mat-form-field>
    
          <div class="row mt-3 d-flex align-items-end">
            <div class="col-md-5 text-start">
              <label for="inputLabel">Buscar:</label>
            </div>
            <div class="col-md-10">
              <input type="text" id="inputLabel" class="form-control" (input)="filterTareasByTitle($event)">
            </div>
            <div class="col-md-2">
              <button class="btn btn-custom" (click)="refreshPage()">
                <i class="fas fa-sync-alt"></i> 
              </button>
            </div>
          </div>
        </div>
      </div>

      <button class="col-md-3 btn btn-custom btn-circle btn-fixed" [routerLink]="['/tareas/crear']">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span class="text">Añadir Nueva Tarea</span>
      </button>
    </div>
  </div>
</div>
